In [12]:
from sqlalchemy import Connection, MetaData, create_engine, text

In [13]:
engine = create_engine(
    f"postgresql://postgres:mypassword@localhost:5432/my_db"
)

In [14]:
create_table_sql_text = """CREATE TABLE IF NOT EXISTS books2 (
    title varchar(10), 
    price integer,
    arrival_day varchar(10)
)
"""

create_table_sql = text(create_table_sql_text)
create_table_sql

In [15]:
with engine.begin() as connection:
    connection.execute(create_table_sql)